
.fondo-register{
    background-image: url('../../assets/register-right.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


